body
  display flex
  flex-direction column
  justify-content center
  align-items center

.name, .version
  font-weight bold


.version
  color blue

ul
  list-style none

.may-follow-object
  padding 1em


.notification, .notNotification
  padding 0.5em
